@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%; // fixes the landing page image.  Make sure this doesn't screw anything else up...
}

body {
  padding-top: 60px;
  background-color: rgb(236, 236, 236);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.jumbotron {
  padding-top: 50px;
  padding-bottom: 10px;
}

.btn-home {
  width: 200px;
}

.btn-width100 {
  width: 100%;
}

.new-notification {
  color: #ff0000;
  text-shadow: 0 0 18px white;
}

.nav-tabs > li.active > a {
  background-color: rgb(236, 236, 236) !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 20px;
//  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
//  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.icon-stack {
  position: relative;
}

.icon-stack .glyphicon {
  position: absolute;
  &.glyphicon-ban-circle {
    color: #ff0000 !important;
  }
}

p.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

/* header */

.navbar {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  -moz-box-shadow:    0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  box-shadow:         0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

//
// Turn on for arrow up toward the element being dropped down from
//
//.navbar .nav > li > .dropdown-menu::before {
//  position: absolute;
//  top: -7px;
//  left: 99px;
//  display: inline-block;
//  border-right: 7px solid transparent;
//  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
//  border-left: 7px solid transparent;
//  content: '';
//}
//
//.navbar .nav > li > .dropdown-menu::after {
//  position: absolute;
//  top: -6px;
//  left: 100px;
//  display: inline-block;
//  border-right: 6px solid transparent;
//  border-bottom: 6px solid white;
//  border-left: 6px solid transparent;
//  content: '';
//}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  background-color: white;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    &.bg-danger, &.bg-primary {
      padding: 15px 15px 15px 15px;
      margin-top: 15px;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

p.bg-danger, p.bg-primary {
  padding: 15px 15px 15px 15px;
  margin-top: 15px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-border {
  margin: 15px auto;
  border: 7px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #999999;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

form {
  margin-bottom: 15px;
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
//  @extend .control-group;
//  @extend .error;
  @extend .has-error
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}

.countdown {
  display: inline;
  color: $gray-light;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.pagination {
  margin: 5px 0 !important;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px !important;
  outline: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px; /* Regular padding-left + 1*/
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

// Autocomplete Gmail contacts
ul.ui-autocomplete.ui-menu {
  z-index: 999999;
  background-color: #ffffff;
}

li.ui-menu-item {
}

