/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 20000em;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  -moz-box-sizing: border-box;
  border: 1px solid #FFFFFF;
  float: left;
  width: 200px !important;
}

.jcarousel-wrapper {
  border: 10px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 2px #999999;
  margin: 20px auto;
  position: relative;
}

.jcarousel-control-prev {
  left: 0px;
//  left: 15px;
  background: -webkit-linear-gradient(right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1));
  background: -o-linear-gradient(left, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1));
  background: -moz-linear-gradient(left, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1));
  background: linear-gradient(to left, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1));
  &:hover {
    background: -webkit-linear-gradient(right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1));
    background: -o-linear-gradient(left, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1));
    background: -moz-linear-gradient(left, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1));
    background: linear-gradient(to left, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1));
  }
}

.jcarousel-control-next {
  right: 0px;
//  right: 15px;
  background: -webkit-linear-gradient(left, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1)); /* Standard syntax (must be last) */
  &:hover {
    background: -webkit-linear-gradient(left, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 1)); /* Standard syntax (must be last) */
  }
}

.jcarousel-control-prev, .jcarousel-control-next {
//  background: none repeat scroll 0 0 #4E443C;
//  border-radius: 30px;
//  box-shadow: 0 0 4px #F0EFE7;
  color: #FFFFFF;
  font: 24px/27px Arial,sans-serif;
//  height: 30px;
  height: 100%;
//  margin-top: -15px;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #000000;
  top: 0%;
//  top: 50%;
  width: 100px;
//  width: 30px;
  vertical-align: middle;
  i {
    top: 50%;
  }
}

.jcarousel-pagination {
  bottom: -40px;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, 0px);
}

.jcarousel-pagination a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 2px #4E443C;
  color: #4E443C;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  line-height: 10px;
  margin-right: 7px;
  text-decoration: none;
  text-indent: -9999px;
  width: 10px;
}


.jcarousel-pagination a.active {
  background: none repeat scroll 0 0 #4E443C;
  box-shadow: 0 0 2px #F0EFE7;
  color: #FFFFFF;
  opacity: 1;
}